/*HEADER SECTION*/
body {
  background-image: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  position: relative;
  height: 100px;
}
.branding img {
  width: 100px;
}
.logo-responsive img {
  width: 100px;
  display: none;
}
/*NAV WRAPPER*/
.header-container {
  position: fixed;
  display: flex;
  width: calc(100% - 160px);
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}
/*EXPLORE SECTION*/
.explore-section {
  position: relative;
  margin-left: 60px;
}
a {
  font-family: helvetica;
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin-right: 20px;
  font-weight: lighter;
}
/*MENU SECTION*/
.menu {
  display: flex;
  align-items: center;
}
.menu button {
  cursor: pointer;
  font-weight: bold;
  border-radius: 40px;
  color: white;
  width: 120px;
  height: 2.5rem;
  background-color: transparent;
  border: none;
}
.menu button:hover {
  background-color: #ffffff1f;
}
.menu i {
  color: white;
}
.icon-menu {
  display: flex;
}
.icon-menu i {
  color: #222222;
}
.menu .icon-globe {
  width: 60px;
}
.menu .icon-menu {
  width: 80px;
  background-color: white;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.menu .icon-menu:hover {
  background-color: white;
}
.icon-menu img {
  width: 30px;
  margin-left: 2px;
}
/*RESPONSIVE SECTION*/
@media (max-width: 950px) {
  header {
    height: 200px;
  }
  .header-container {
    width: calc(100% - 80px);
    padding: 20px 40px;
  }
  .explore-section {
    position: absolute;
    margin-left: 0;
    display: flex;
    justify-content: center;
    width: calc(100% - 80px);
    top: 100px;
  }
  .explore-section a {
    font-size: 14px;
    font-weight: 500;
  }
  .branding {
    display: none;
  }
  .logo-responsive img {
    width: 40px;
    display: flex;
  }
}
