main {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
/*DATA PANEL SECTION*/
.data-panel-bounds {
  display: flex;
  justify-content: center;
  width: 850px;
  height: 30px;
  background-color: white;
  border-radius: 32px;
  color: rgb(34, 34, 34);
  padding-top: 20px;
  padding-bottom: 20px;
}
.data-panel-bounds h3 {
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
  color: black;
}
input {
  border: none;
  margin-top: 5px;
}
.ubicacion {
  border-right: 1px solid lightgray;
  width: 199.72px;
  margin-left: 15px;
}
.llegada {
  border-right: 1px solid lightgray;
  width: 199.22px;
  margin-left: 15px;
}
.salida {
  border-right: 1px solid lightgray;
  width: 199.22px;
  margin-left: 15px;
}
.huespedes {
  width: 240.83px;
  margin-left: 15px;
}
/*SEARCH ICON*/
.search-button {
  display: flex;
  align-items: center;
}
.search-button button {
  margin-left: 160px;
  margin-top: -45px;
  height: 56px;
  width: 56px;
  border: none;
  border-radius: 32px;
  background-color: #ff3866;
}
.search-icon i {
  color: white;
  align-items: center;
}
