main {
  display: flex;
  flex-direction: column;
}

input {
  border: none;

  background-color: transparent;
}
input:focus {
  outline: none;
}
/*MOBILE SEARCH BAR*/

.search-bar {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 32px;
  color: rgb(34, 34, 34);
  margin: 0 auto;
  width: calc(100% - 32px);
  height: 48px;
}
.search-bar input {
  text-align: center;
}
.search-bar button {
  border: none;
  background-color: white;
  color: #ff3866;
}
/*COLOR INPUT SEARCH BAR*/
.search-bar input[id^="search"]::-webkit-input-placeholder {
  color: black;
  font-weight: 200;
}

/*DATA PANEL SECTION*/

.data {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.data-panel-bounds {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 790px;
  background-color: white;
  border-radius: 32px;
  color: rgb(34, 34, 34);
  padding: 20px 0;
}
.data-panel-bounds h3 {
  text-align: left;
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
  color: black;
}
.border {
  position: absolute;
  height: 20px;
  right: 0;
  border-right: 1px solid lightgray;
}
.input-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 25%;
}
.input-box:hover .border {
  display: none;
}
.input-box button {
  border-radius: 32px;
  border: none;
  background-color: white;
  padding: 17px;
  cursor: pointer;
}
.input-box button:hover {
  border-radius: 32px;
  border: none;
  background-color: #dddddd70;
}
.input-box button:focus-within {
  background-color: white;
  box-shadow: rgb(0 0 0 / 20%) -10px 1px 32px;
}

/*HUESPEDES SECTION*/
.huespedes {
  height: 70px;
  background-color: white;
  border-radius: 32px;
}
.huespedes:hover {
  background-color: #dddddd70;
}
.huespedes:focus-within {
  background-color: white;
  box-shadow: rgb(0 0 0 / 20%) -10px 1px 32px;
}
.huespedes-data {
  cursor: pointer;
  padding-left: 24px;
}

/*SEARCH ICON*/
.search-button {
  position: absolute;
  right: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  border: none;
  border-radius: 100%;
  margin-right: 10px;
  background-color: #ff3866 !important;
}
.search-button:hover {
  background-color: #e41d56 !important;
}
.search-button i {
  color: white;
  align-items: center;
}

/*RESPONSIVE SECTION*/
@media (max-width: 790px) {
  .data-panel-bounds {
    width: calc(100% - 24px);
    margin: 0 12px;
  }
}
@media (max-width: 750px) {
  .explore-section {
    display: none;
  }
  .data {
    display: none;
  }
  .search-bar {
    display: flex;
  }
}
